// preset form values if we receive an dailyplan object //
- dailyplan = typeof(udata) != 'undefined' ? udata : { }
// store the dailyplan ID on the client side in a hidden input field //
input(type='hidden', value= dailyplan._id)#DailyPlanId

#dailyplan-form-container.center-vertical.col-sm-10
	form.card.card-body.bg-light(method='post')#dailyplan-form
		h3
		h4#sub Itt tudsz egy ügyfélnek feladatot adni.
		hr
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Felhasználó neve
			.col-sm-8
				select.form-control#user_tf(name='user_id')
					- for (var i = 0; i < acc.length; i++)
						option(value=acc[i]._id) #{acc[i].name} (#{acc[i].user})
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Kezdeti nap dátuma
			.col-sm-8
				input.form-control#startdate-tf(type='date', name='startdate3', value= dailyplan.startdate)
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Utolsó nap dátuma
			.col-sm-8
				input.form-control#enddate-tf(type='date', name='enddate3', value= dailyplan.enddate)
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Megjegyzés
			.col-sm-8
				input.form-control#comment-tf(type='text', name='comment', value= dailyplan.comment)
		- for (var u = 0; u<3; u++)
			hr
			.form-group.row
				label.col-sm-3.col-form-label.col-form-label-sm Blokk #{u+1} neve
				.col-sm-8
					select.form-control#block_id_tf(name='block_id')
						option(value=0 selected) Üres
						- for (var i = 0; i < blo.length; i++)
							option(value=blo[i]._id) #{blo[i].name}
			.form-group.row
				label.col-sm-3.col-form-label.col-form-label-sm Blokk #{u+1} ismétlésszáma
				.col-sm-8
					input.form-control#repeat-tf(type='text', name='repeat', value=''/*blo[i].repeat*/ )
		hr
		.form-buttons
			button(type='button')#dailyplan-form-btn1.btn.btn-outline-dark Törlés
			button(type='submit')#dailyplan-form-btn2.btn.btn-primary Hozzáadás

include modals/form-errors
