// preset form values if we receive an excercise object //
- dailyplan = typeof(udata) != 'undefined' ? udata : { }
// store the dailyplan ID on the client side in a hidden input field //
input(type='hidden', value= dailyplan._id)#ExcerId

#dailyplan-form-container.center-vertical.col-sm-10
	form.card.card-body.bg-light(method='post')#dailyplan-form
		h3
		h4#sub Itt tudsz egy ügyfélnek feladatot adni.
		hr
		.form-group.row
				label.col-sm-3.col-form-label.col-form-label-sm Ügyfél neve
				.col-sm-8
					select.form-control#username_tf(name='username')
						- for (var i = 0; i < accounts.length; i++)
							option(value=accounts[i]._id) #{accounts[i].name}
		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Dátum
			.col-sm-8
				input.form-control#date-tf(type='date', name='date3', value= dailyplan.date)

		.form-group.row
			label.col-sm-3.col-form-label.col-form-label-sm Megjegyzés
			.col-sm-8
				input.form-control#comment-tf(type='text', name='comment', value= dailyplan.comment)

_Name	string	Ez a blokk neve
_Unit	string	A blokk ismétlése (napi - heti3)
_ExcerIds	objectId[]	Ezek a gyakorlatok vannak benne a tervben
_ExcerRepeats	int32[]	Ennyiszer kell ismételni a gyakorlatokat (default érték)

		- for (var u = 0; u < 3; u++)
			.form-group.row
				label.col-sm-3.col-form-label.col-form-label-sm Blokk #{u+1} neve
				.col-sm-8
					select.form-control#block_id_tf(name='block_id')
						option(value=0 selected) Üres
						- for (var i = 0; i < block.length; i++)
							option(value=block[i]._id) #{block[i].name}

		hr
		.form-buttons
			button(type='button')#dailyplan-form-btn1.btn.btn-outline-dark Törlés
			button(type='submit')#dailyplan-form-btn2.btn.btn-primary Hozzáadás

// display form errors in a custom modal window //

include modals/form-errors
